In [2]:
import pandas as pd 
df = pd.read_csv('Lab Session Data(Purchase data).csv')
print(df.head())

  Customer  Candies (#)  Mangoes (Kg)  Milk Packets (#)  Payment (Rs)  \
0      C_1           20             6                 2           386
1      C_2           16             3                 6           289
2      C_3           27             6                 2           393
3      C_4           19             1                 2           110
4      C_5           24             4                 2           280

   Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  \
0         NaN         NaN         NaN         NaN         NaN  ...
1         NaN         NaN         NaN         NaN         NaN  ...
2         NaN         NaN         NaN         NaN         NaN  ...
3         NaN         NaN         NaN         NaN         NaN  ...
4         NaN         NaN         NaN         NaN         NaN  ...

   Unnamed: 12  Unnamed: 13  Unnamed: 14  Unnamed: 15  Unnamed: 16  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

   Unnamed: 17  Unnamed: 18  Candy  Mango  Milk
0          NaN          NaN    1.0   55.0  18.0
1          NaN          NaN    NaN    NaN   NaN
2          NaN          NaN    NaN    NaN   NaN
3          NaN          NaN    NaN    NaN   NaN
4          NaN          NaN    NaN    NaN   NaN

[5 rows x 22 columns]

In [3]:
import pandas as pd 
df = pd.read_csv('Lab Session Data(Purchase data).csv')
print(df.head())

  Customer  Candies (#)  Mangoes (Kg)  Milk Packets (#)  Payment (Rs)  \
0      C_1           20             6                 2           386
1      C_2           16             3                 6           289
2      C_3           27             6                 2           393
3      C_4           19             1                 2           110
4      C_5           24             4                 2           280

   Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  \
0         NaN         NaN         NaN         NaN         NaN  ...
1         NaN         NaN         NaN         NaN         NaN  ...
2         NaN         NaN         NaN         NaN         NaN  ...
3         NaN         NaN         NaN         NaN         NaN  ...
4         NaN         NaN         NaN         NaN         NaN  ...

   Unnamed: 12  Unnamed: 13  Unnamed: 14  Unnamed: 15  Unnamed: 16  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

   Unnamed: 17  Unnamed: 18  Candy  Mango  Milk
0          NaN          NaN    1.0   55.0  18.0
1          NaN          NaN    NaN    NaN   NaN
2          NaN          NaN    NaN    NaN   NaN
3          NaN          NaN    NaN    NaN   NaN
4          NaN          NaN    NaN    NaN   NaN

[5 rows x 22 columns]

In [8]:
import pandas as pd 
import numpy as num
df = pd.read_csv('Lab Session Data(Purchase data).csv')
print(df)
independent_variables=['Candies (#)','Mangoes (Kg)','Milk Packets (#)']
dependent_variables=['Payment (Rs)']
A = df[independent_variables].to_numpy()
B = df[dependent_variables].to_numpy()
print('Matrix A:')
print(A)
print('Matrix B:')
print(B)

  Customer  Candies (#)  Mangoes (Kg)  Milk Packets (#)  Payment (Rs)  \
0      C_1           20             6                 2           386
1      C_2           16             3                 6           289
2      C_3           27             6                 2           393
3      C_4           19             1                 2           110
4      C_5           24             4                 2           280
5      C_6           22             1                 5           167
6      C_7           15             4                 2           271
7      C_8           18             4                 2           274
8      C_9           21             1                 4           148
9     C_10           16             2                 4           198

   Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  \
0         NaN         NaN         NaN         NaN         NaN  ...
1         NaN         NaN         NaN         NaN         NaN  ...
2         NaN         NaN         NaN         NaN         NaN  ...
3         NaN         NaN         NaN         NaN         NaN  ...
4         NaN         NaN         NaN         NaN         NaN  ...
5         NaN         NaN         NaN         NaN         NaN  ...
6         NaN         NaN         NaN         NaN         NaN  ...
7         NaN         NaN         NaN         NaN         NaN  ...
8         NaN         NaN         NaN         NaN         NaN  ...
9         NaN         NaN         NaN         NaN         NaN  ...

   Unnamed: 12  Unnamed: 13  Unnamed: 14  Unnamed: 15  Unnamed: 16  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN
5          NaN          NaN          NaN          NaN          NaN
6          NaN          NaN          NaN          NaN          NaN
7          NaN          NaN          NaN          NaN          NaN
8          NaN          NaN          NaN          NaN          NaN
9          NaN          NaN          NaN          NaN          NaN

   Unnamed: 17  Unnamed: 18  Candy  Mango  Milk
0          NaN          NaN    1.0   55.0  18.0
1          NaN          NaN    NaN    NaN   NaN
2          NaN          NaN    NaN    NaN   NaN
3          NaN          NaN    NaN    NaN   NaN
4          NaN          NaN    NaN    NaN   NaN
5          NaN          NaN    NaN    NaN   NaN
6          NaN          NaN    NaN    NaN   NaN
7          NaN          NaN    NaN    NaN   NaN
8          NaN          NaN    NaN    NaN   NaN
9          NaN          NaN    NaN    NaN   NaN

[10 rows x 22 columns]
Matrix A:
[[20  6  2]
 [16  3  6]
 [27  6  2]
 [19  1  2]
 [24  4  2]
 [22  1  5]
 [15  4  2]
 [18  4  2]
 [21  1  4]
 [16  2  4]]
Matrix B:
[[386]
 [289]
 [393]
 [110]
 [280]
 [167]
 [271]
 [274]
 [148]
 [198]]